body{
	background:url(nebula.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #1A879A;
	text-align: center;
	max-width: 100%;
	font-family: 'Nova Flat', cursive;
}

ul{
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none;
	color: #09526C;
}

footer>li{
	color: lightgrey;
	text-decoration: none;
}

main{
	margin: 0 auto;
}

#menu{
	
	height: 8vh;
	
}

img{
	width: 60px;
	height: 40px;
}


h3{
	padding: 10px;
}

#menu>li{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

#menu> li:hover{
	background-color: #1B3B5B;

}

#menu>li{
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#logo:hover
{
	background-color: none;
}



#otroPg:hover{
	background-color: #1B3B5B;
}

#otroPg{
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease;
}


























